@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
	--orange: #ff7800;
	--black: #130f40;
	--light-color: #666;
	--box-shadow: 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
	--border: 0.2rem solid rgba(0, 0, 0, 0.1);
	--outline: 0.1rem solid rgba(0, 0, 0, 0.1);
	--outline-hover: 0.2rem solid var(--black);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	border: none;
	outline: none;
	text-decoration: none;
	text-transform: capitalize;
	transition: all 0.2s linear;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 7rem;
}
body {
	background: #eee;
}
section {
	padding: 2rem 9%;
}
.heading {
	text-align: center;
	padding: 2rem 0;
	padding-bottom: 3rem;
	font-size: 3.5rem;
	color: var(--black);
}
.heading span {
	background: var(--orange);
	color: #fff;
	display: inline-block;
	padding: 0.5rem 3rem;
	clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
.btn {
	width: 50%;
	margin-top: 1rem;
	display: inline-block;
	text-align: center;
	padding: 0.8rem 0.3rem;
	font-size: 1.7rem;
	border-radius: 1rem;
	border: 0.2rem solid var(--black);
	/* border: 0.4rem solid var(--black); */
	color: var(--black);
	cursor: pointer;
}
.btn:hover {
	background-color: var(--orange);
	color: #fff;
}
/* NAVBAR STARTS */
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 9%;
	z-index: 1000;
	box-shadow: var(--box-shadow);
}
.navbar .logo {
	font-size: 2.6rem;
	color: var(--black);
	font-weight: bolder;
}
.navbar .logo i {
	color: var(--orange);
}
.navbar .navlinks {
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.navbar .navlinks a {
	color: var(--black);
	font-size: 1.7rem;
	margin-left: 0.1rem;
}
.navbar .navlinks a:hover {
	color: var(--orange);
}
.navbar .icons div {
	height: 4.5rem;
	width: 4.5rem;
	line-height: 4.5rem;
	color: var(--black);
	margin-right: 0.3rem;
	text-align: center;
	font-size: 2rem;
	cursor: pointer;
	border-radius: 0.5rem;
	background: #eee;
}
.navbar .icons div:hover {
	background-color: var(--orange);
	color: #fff;
}
#menu-btn {
	display: none;
}
.navbar .search-form {
	position: absolute;
	top: 110%;
	/* right: 2rem; */
	right: -110%;
	width: 50rem;
	height: 5rem;
	border-radius: 0.5rem;
	overflow: hidden;
	background: #fff;
	display: flex;
	align-items: center;
	/* justify-content: center; */
	box-shadow: var(--box-shadow);
	/* padding: 1rem 9%; */
}
.navbar .search-form.active {
	right: 2rem;
	transition: all 4s linear ease-in-out;
}

.navbar .search-form input {
	height: 100%;
	width: 100%;
	color: var(--black);
	background: none;
	text-transform: none;
	padding: 0 1.5rem;
	font-size: 1.6rem;
}
.navbar .search-form label {
	position: absolute;
	padding-right: 1.5rem;
	right: 1.5rem;
	color: var(--black);
	font-size: 2.2rem;
	cursor: pointer;
}
.navbar .search-form label:hover {
	color: var(--orange);
}

.navbar .search-form label i {
	pointer-events: none;
}
.navbar .shopping-cart {
	position: absolute;
	top: 110%;
	/* right: 2rem; */
	right: -110%;
	padding: 1rem;
	border-radius: 0.5rem;
	border-radius: 1rem;
	box-shadow: var(--box-shadow);
	width: 35rem;
	background: #fff;
}
.navbar .shopping-cart.active {
	right: 2rem;
	transition: 0.4s linear;
	/* transition: 4s linear ease-in-out; */
}

.navbar .shopping-cart .box {
	display: flex;
	align-items: center;
	gap: 1rem;
	position: relative;
	margin: 1rem 0;
}
.navbar .shopping-cart .box img {
	height: 10rem;
}
.navbar .shopping-cart .box .fa-trash {
	font-size: 2rem;
	position: absolute;
	top: 50%;
	right: 2rem;
	cursor: pointer;
	color: var(--light-color);
	transform: translateY(-50%);
}
.navbar .shopping-cart .box .fa-trash:hover {
	color: var(--orange);
}
.navbar .shopping-cart .box .content h3 {
	color: var(--black);
	font-size: 1.7rem;
	padding-bottom: 1rem;
}
.navbar .shopping-cart .box .content span {
	color: var(--light-color);
	font-size: 1.6rem;
	/* padding-bottom  : 1rem; */
}
.navbar .shopping-cart .box .content .quantity {
	padding-left: 1rem;
}
.navbar .shopping-cart .total {
	font-size: 2.5rem;
	padding: 1rem 0;
	text-align: center;
	color: var(--black);
}
.navbar .shopping-cart .btn {
	display: block;
	text-align: center;
	margin: 1rem;
}
.navbar .login-form {
	position: absolute;
	top: 110%;
	right: -110%;
	/* right: 2rem; */
	width: 30rem;
	box-shadow: var(--box-shadow);
	padding: 2rem;
	border-radius: 0.5rem;
	background: #fff;
	text-align: center;
}
.navbar .login-form.active {
	right: 2rem;
	transition: 0.4s linear;
}
.navbar .login-form h3 {
	font-size: 2.5rem;
	text-transform: uppercase;
	color: var(--black);
}
.navbar .login-form .box {
	width: 100%;
	margin: 0.7rem 0;
	background: #eee;
	border-radius: 0.5rem;
	padding: 1rem;
	font-size: 1.6rem;
	color: var(--black);
	align-items: center;
	/* justify-content: center; */
	transform: none;
}
.navbar .login-form p {
	font-size: 1.4rem;
	padding: 0.5rem 0;
	color: var(--light-color);
}
.navbar .login-form p a {
	color: var(--orange);
	text-decoration: none;
}
.navbar .login-form p a:hover {
	text-decoration: underline;
}
/* .navbar .login-form input .btn{
  margin: auto;
  align-items: center;
} */
/* HOME SECTION STARTS */
.home {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(/Images/home\ img-1.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 17rem;
	padding-bottom: 10rem;
}
.home .content {
	text-align: center;
	width: 60rem;
}
.home .content h3 {
	color: var(--black);
	font-size: 3rem;
}
.home .content span {
	color: var(--orange);
	/* font-size: 3rem; */
}
.home .content span {
	color: var(--orange);
	/* font-size: 3rem; */
}
.home .content p {
	color: var(--light-color);
	font-size: 1.7rem;
	padding: 1rem 0;
	line-height: 1.8rem;
}
/* FEATURE SECTION STARTS */
.features .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap: 1.5rem;
}
.features .box-container .box {
	align-items: center;
	padding: 3rem 2rem;
	background: #fff;
	outline: var(--outline);
	outline-offset: -1rem;
	text-align: center;
	box-shadow: var(--box-shadow);
}
.features .box-container .box:hover {
	outline: var(--outline-hover);
	/* outline-offset: -1rem; */
}
.features .box-container .box img {
	margin: 1rem 0;
	height: 15rem;
}
.features .box-container .box h3 {
	font-size: 2.5rem;
	line-height: 1.8;
	color: var(--black);
}
.features .box-container .box p {
	font-size: 1.5rem;
	line-height: 1.8;
	color: var(--light-color);
	padding: 1rem 0;
}
/* Products SECTION Starts */
.products .product-slider {
	padding: 1rem;
}
.products .product-slider:first-child {
	margin-bottom: 2rem;
}
.products .product-slider .box {
	background: #fff;
	border-radius: 0.5rem;
	text-align: center;
	padding: 3rem 2rem;
	outline-offset: -3rem;
	outline: var(--outline);
	box-shadow: var(--box-shadow);
	transition: 0.2s linear;
}
.products .product-slider .box:hover {
	outline-offset: 0rem;
	outline: var(--outline-hover);
}
.products .product-slider .box img {
	height: 20rem;
}
.products .product-slider .box h3 {
	font-size: 2.5rem;
	color: var(--black);
}
.products .product-slider .box .price {
	font-size: 2rem;
	color: var(--light-color);
	padding: 0.5rem 0;
}
.products .product-slider .box .stars i {
	font-size: 1.7rem;
	color: var(--orange);
	padding: 0.5rem 0;
} /* USE SWIPER.COM */
/* CATEGORY SECTION STARTS */
.categories .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
	gap: 1.5rem;
}
.categories .box-container .box {
	padding: 3rem 2rem;
	border-radius: 0.5rem;
	background-color: #fff;
	box-shadow: var(--box-shadow);
	outline: var(--outline);
	outline-offset: -1rem;
	text-align: center;
}
.categories .box-container .box:hover {
	outline: var(--outline-hover);
	outline-offset: 0rem;
}
.categories .box-container .box img {
	margin: 1rem 0;
	height: 15rem;
}
.categories .box-container .box h3 {
	font-size: 2rem;
	color: var(--black);
	line-height: 1.8;
}
.categories .box-container .box p {
	font-size: 1.7rem;
	color: var(--light-color);
	line-height: 1.8;
	padding: 1rem 0;
}
/* REVIEW SECTION STARTS */

.review .review-slider {
	padding: 1rem;
}
.review .review-slider .box {
	background: #fff;
	border-radius: 0.5rem;
	text-align: center;
	padding: 3rem 2rem;
	outline-offset: -3rem;
	outline: var(--outline);
	box-shadow: var(--box-shadow);
	transition: 0.2s linear;
}
.review .review-slider .box:hover {
	outline: var(--outline-hover);
	outline-offset: 0rem;
}
.review .review-slider .box img {
	height: 10rem;
	width: 10rem;
	border-radius: 50%;
}
.review .review-slider .box p {
	padding: 1rem 0;
	line-height: 1.8;
	color: var(--light-color);
	font-size: 1.5rem;
}
.review .review-slider .box h3 {
	padding-bottom: 0.5rem;
	color: var(--black);
	font-size: 2.2rem;
}
.review .review-slider .box .star i {
	color: var(--orange);
	font-size: 1.7rem;
}
/* BLOG SECTION START */
.blog .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
	gap: 1.5rem;
}
.blog .box-container .box {
	/* overflow: hidden; */
	border-radius: 0.5rem;
	box-shadow: var(--box-shadow);
	background: #fff;
}
.blog .box-container .box img {
	height: 25rem;
	width: 100%;
	object-fit: cover;
}
.blog .box-container .box .content {
	padding: 2rem;
}
.blog .box-container .box .content .icons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 1.5rem;
	margin: 1rem;
	border-bottom: var(--border);
}
.blog .box-container .box .content .icons a {
	color: var(--light-color);
	font-size: 1.5rem;
}
.blog .box-container .box .content .icons a:hover {
	color: var(--black);
}
.blog .box-container .box .content .icons a i {
	color: var(--orange);
	padding-right: 0.5rem;
}
.blog .box-container .box .content h3 {
	line-height: 1.8;
	color: var(--black);
	font-size: 2.2rem;
	padding: 0.5rem 0;
}
.blog .box-container .box .content p {
	line-height: 1.8;
	color: var(--light-color);
	font-size: 1.5rem;
	padding: 0.5rem 0;
}
/* FOOTER SECTION START */
#footer {
	background-color: #fff;
}
#footer .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap: 1.5rem;
}
#footer .box-container .box h3 {
	font-size: 2.5rem;
	color: var(--black);
	padding: 1rem 0;
}
#footer .box-container .box h3 i {
	color: var(--orange);
}
#footer .box-container .box .links {
	display: block;
	font-size: 1.5rem;
	color: var(--light-color);
	padding: 1rem 0;
}
#footer .box-container .box .links i {
	color: var(--orange);
	padding-right: 0.5rem;
}
#footer .box-container .box .links:hover i {
	padding-right: 2rem;
}
#footer .box-container .box p {
	line-height: 1.8;
	font-size: 1.5rem;
	color: var(--light-color);
	padding: 1rem 0;
}
#footer .box-container .box .share a {
	height: 4rem;
	width: 4rem;
	line-height: 4rem;
	border-radius: 5rem;
	font-size: 2rem;
	color: var(--black);
	margin-left: 0.2rem;
	background: #eee;
	/* align-items: center; */
}
#footer .box-container .box .share a:hover {
	background: var(--orange);
	color: #fff;
}
#footer .box-container .box .email {
	width: 100%;
	margin: 0.7rem 0;
	padding: 1rem;
	border-radius: 0.5rem;
	background: #eee;
	font-size: 1.6rem;
	color: var(--black);
	text-transform: none;
}
#footer .box-container .box .payment-img {
	margin-top: 2rem;
	width: 100%;
	height: 8rem;
}
#footer .credit {
	text-align: center;
	font-weight: 500;
	margin-top: 2rem;
	padding: 1rem;
	padding-top: 2.5rem;
	font-size: 2rem;
	color: var(--black);
	border-top: var(--border);
}
#footer .credit span {
	color: var(--orange);
}
/* FOOTER SECTION ENDS */

/* media quaries */

@media (max-width: 991px) {
	html {
		font-size: 55%;
	}
	.navbar {
		padding: 2rem;
	}
	section {
		padding: 2rem;
	}
}

@media (max-width: 768px) {
	#menu-btn {
		display: inline-block;
	}
	.navbar .search-form {
		width: 90%;
	}
	.navbar .navlinks {
		position: absolute;
		top: 110%;
		right: -110%;
		/* right: 2rem; */
		width: 30rem;
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		box-shadow: var(--box-shadow);
		border-radius: 0.5rem;
		background: #fff;
	}
	.navbar .navlinks.active {
		display: flex;
		right: 2rem;
		transition: 0.4s linear;
	}

	.navbar .navlinks a {
		font-size: 2rem;
		margin: 2rem 2.5rem;
		display: block;
	}
}

@media (max-width: 450px) {
	html {
		font-size: 50%;
	}
	.heading {
		font-size: 2.5rem;
	}
	#foooter.credit {
		text-align: center;
	}
}
